body{
 background: black;
}

h1{
    color:whitesmoke;
    font-family: 'Playfair Display',serif;
    font-weight: bold;
}

p{
    font-family:'Poppins',sans-serif;
    color:whitesmoke;
    font-weight: normal;
}